USE [master]
GO
/****** Object:  Database [DemoCURD1]    Script Date: 3/19/2021 2:10:57 PM ******/
CREATE DATABASE [DemoCURD1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoCURD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DemoCURD1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoCURD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DemoCURD1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoCURD1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoCURD1]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 3/19/2021 2:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sr_no] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](500) NOT NULL,
	[City] [nvarchar](500) NULL,
	[STATE] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[flag] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Employee]    Script Date: 3/19/2021 2:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_Employee]
@Sr_no int, @Emp_name nvarchar(500),
@City nvarchar(500), @STATE nvarchar(500),
@Country nvarchar(500), @Department nvarchar(500),
@flag nvarchar(50)

as begin
	if(@flag = 'insert')
	begin
		insert into dbo.tbl_Employee
		( Emp_name, City, STATE, Country, Department)
		values
		(@Emp_name, @City, @STATE, @Country, @Department)
	end

	else if (@flag = 'update')
	begin
		update dbo.tbl_Employee set
			Emp_name=@Emp_name, City=@City, STATE=@STATE,
			Country=@Country, Department=@Department
		where Sr_no=@Sr_no
	end

	else if( @flag = 'delete')
	begin
		delete from tbl_Employee
		where Sr_no=@Sr_no
	end

	else if(@flag = 'getid')
	begin
		select * from tbl_Employee
		where Sr_no=@Sr_no
	end

	else if(@flag = 'get')
	begin
		select * from tbl_Employee
	end
end
GO
USE [master]
GO
